        @media (max-width: 1150px) {
            #mainhome {
                flex-direction: column;
            }
            #textright h1,
            #textright p {
                text-align: center;
                padding: 2rem 0;
                margin: 0;
            }
            #tete_engrenages img:nth-child(1) {
                height: 60%;
            }
            #greenright p,
            #blueleft p {
                font-size: 20px;
            }
            #cvpage {
                flex-direction: column-reverse;
            }
            #cvpage h1 {
                text-align: center;
                padding-top: 7rem;
            }
            #contactpage,
            #leftcontact {
                justify-content: center;
                align-items: center;
            }
            #textright p {
                font-size: 20px;
            }
            #yellow p {
                font-size: 118px;
            }
            #photo {
                display: none;
            }
            #titresabout div:nth-child(1) p {
                font-size: 100px;
            }
            #titresabout div:nth-child(2) p {
                font-size: 100px;
            }
        }
        
        @media (max-width: 899px) {
            header {
                align-items: stretch;
                padding: 0;
            }
            nav.container {
                justify-content: center;
                margin-right: 40%;
            }
            .menu-icon {
                margin-top: 3rem;
                cursor: pointer;
                display: inline-block;
            }
            .main-menu {
                flex: 1 1 100%;
                flex-direction: column;
                align-items: flex-start;
                height: 0;
                opacity: 0;
                transition: all .4s ease-in-out;
            }
            .main-menu li {
                width: 100%;
                text-align: center;
            }
            .main-menu li:nth-child(5) a {
                color: #5FB0B7;
                margin-right: 0rem;
            }
            #textsabout {
                flex-direction: column;
            }
            h3 {
                font-size: 77px;
            }
            #yellow p {
                font-size: 98px;
            }
            #cv img {
                transform: scale(0.7);
            }
        }
        
        @media (max-width: 499px) {
            nav.container {
                justify-content: center;
                margin-right: 5%;
            }
            .menu-btn:checked~.main-menu {
                height: 100vh;
                height: calc(90vh - 7rem);
                opacity: 1;
                justify-content: space-evenly;
            }
            .main-menu li:nth-child(5) a {
                color: #5FB0B7;
                margin-right: 0rem;
            }
            #titresabout div:nth-child(1) p {
                font-size: 50px;
            }
            #titresabout div:nth-child(2) p {
                font-size: 50px;
            }
            #textright p {
                font-size: 12px;
            }
            #yellow p {
                font-size: 78px;
            }
            #cv img {
                transform: scale(0.5);
            }
        }
