                                        @import url(reset.css);
                                         :root {
                                            --text-dark: #0d0e0e;
                                        }
                                        
                                        html {
                                            font-size: 62.5%;
                                            font-family: 'roboto', sans-serif;
                                            scroll-behavior: smooth;
                                        }
                                        
                                        ul {
                                            list-style: none;
                                        }
                                        
                                        a {
                                            text-decoration: none;
                                        }
                                        
                                        section {
                                            position: relative;
                                            width: 100%;
                                        }
                                        
                                        body {
                                            width: 100%;
                                        }
                                        
                                        header {
                                            background-color: rgba(255, 255, 255, 0.787);
                                            box-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                            position: fixed;
                                            width: 100%;
                                            top: 0;
                                            z-index: 9999;
                                        }
                                        /* menu burger responsive---------------------------------------------------------- */
                                        
                                        nav.container {
                                            max-width: 100%;
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                            flex-wrap: wrap;
                                        }
                                        
                                        .main-menu {
                                            display: flex;
                                            overflow: hidden;
                                        }
                                        
                                        .main-menu li:hover {
                                            background-color: #e4e4e4;
                                        }
                                        
                                        .main-menu a {
                                            display: block;
                                            line-height: 7rem;
                                            font-size: 1.8rem;
                                            font-weight: 500;
                                            padding: 0 2rem;
                                            text-transform: capitalize;
                                        }
                                        
                                        .main-menu li:nth-child(-1n+3) a {
                                            color: #1C498B;
                                        }
                                        
                                        .main-menu li:nth-child(4) a {
                                            color: #FFB100;
                                        }
                                        
                                        .main-menu li:nth-child(5) a {
                                            color: #5FB0B7;
                                            margin-right: 10rem;
                                        }
                                        
                                        .menu-btn,
                                        .menu-icon {
                                            display: none;
                                        }
                                        
                                        .menu-icon i {
                                            display: block;
                                            width: 2.5rem;
                                            height: 2px;
                                            background-color: #1C498B;
                                            transition: transform .2s ease;
                                        }
                                        
                                        .menu-icon i+i {
                                            margin-top: 6px;
                                        }
                                        
                                        .menu-btn:checked~.main-menu {
                                            height: 100vh;
                                            height: calc(60vh - 7rem);
                                            opacity: 1;
                                            justify-content: space-evenly;
                                            background-color: white;
                                        }
                                        
                                        .menu-btn:checked+.menu-icon i:nth-child(1) {
                                            transform: translateY(8px) rotate(45deg);
                                        }
                                        
                                        .menu-btn:checked+.menu-icon i:nth-child(2) {
                                            opacity: 0;
                                        }
                                        
                                        .menu-btn:checked+.menu-icon i:nth-child(3) {
                                            transform: translateY(-8px) rotate(-45deg);
                                        }
                                        /* page dacceuil-------------------------------------------------------- */
                                        
                                        #home {
                                            display: flex;
                                            flex-direction: column;
                                            height: 100%;
                                        }
                                        
                                        #mainhome {
                                            min-height: calc(100vh - 7rem);
                                            display: flex;
                                            background-color: #E4E4E4;
                                        }
                                        
                                        #homeleftpart,
                                        #homerightpart {
                                            display: flex;
                                            flex: 1 1 50%;
                                            flex-direction: column;
                                        }
                                        
                                        #photo {
                                            background-image: url('../css/img/Groupe\ de\ masques\ 1.png');
                                            background-position: left;
                                            background-size: cover;
                                        }
                                        
                                        #photo,
                                        #yellow {
                                            display: flex;
                                            flex: 1 1 50%;
                                            justify-content: center;
                                            align-items: center;
                                        }
                                        
                                        #yellow {
                                            background-color: #FFB100;
                                            padding: 0 4rem;
                                        }
                                        
                                        #yellow p {
                                            font-weight: bold;
                                            font-size: 138px;
                                            color: #fff;
                                            text-align: center;
                                        }
                                        
                                        #tete_engrenages,
                                        #textright {
                                            display: flex;
                                            flex: 1 1 50%;
                                        }
                                        
                                        #textright {
                                            flex-direction: column;
                                            justify-content: center;
                                        }
                                        
                                        h1 {
                                            font-weight: bold;
                                            font-size: 49px;
                                            color: #4b4747;
                                        }
                                        
                                        h1 span:nth-child(1) {
                                            display: inline-block;
                                            background-color: #FFB100;
                                            line-height: 55px;
                                        }
                                        
                                        h1 span:nth-child(2) {
                                            color: #1C498B;
                                        }
                                        
                                        #textright p {
                                            display: inline-block;
                                            font-weight: normal;
                                            font-size: 30px;
                                            text-align: left;
                                            color: #4b4747;
                                            padding: 0 20rem 0 0;
                                        }
                                        
                                        #tete_engrenages {
                                            justify-content: end;
                                            align-items: flex-end;
                                            position: relative;
                                        }
                                        
                                        #tete_engrenages img:nth-child(1) {
                                            height: 100%;
                                        }
                                        
                                        #tete_engrenages img:nth-child(2) {
                                            position: absolute;
                                            top: 18rem;
                                            right: 26rem;
                                            animation: rotation 6s linear infinite reverse;
                                        }
                                        
                                        #tete_engrenages img:nth-child(3) {
                                            position: absolute;
                                            top: 8.5rem;
                                            right: 15.7rem;
                                            animation: rotation 6s linear infinite;
                                        }
                                        
                                        @keyframes rotation {
                                            0% {}
                                            100% {
                                                transform: rotate(360deg);
                                            }
                                        }
                                        
                                        #homerightpart a i {
                                            color: #1C498B;
                                            position: relative;
                                            bottom: 1rem;
                                            right: 2rem;
                                            font-size: 3rem;
                                        }
                                        /* SECTION ABOUT-------------------------------------- */
                                        
                                        #about {
                                            display: flex;
                                            flex-direction: column;
                                            min-height: 100vh;
                                        }
                                        
                                        #titresabout,
                                        #textsabout {
                                            display: flex;
                                            flex: 1 1 50%;
                                        }
                                        
                                        #titresabout {
                                            background-image: url('./img/Groupe\ de\ masques\ 5.png');
                                            background-position: center bottom;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            padding: 10rem 0;
                                        }
                                        
                                        #titresabout div {
                                            display: flex;
                                            flex: 1 1 50%;
                                            justify-content: center;
                                            align-items: center;
                                        }
                                        
                                        #titresabout div:nth-child(1) p {
                                            font-weight: bold;
                                            font-size: 141px;
                                            text-align: left;
                                            color: #5bc8af;
                                        }
                                        
                                        #titresabout div:nth-child(2) p {
                                            font-weight: bold;
                                            font-size: 141px;
                                            text-align: left;
                                            color: #5FB0B7;
                                        }
                                        
                                        #greenright,
                                        #blueleft {
                                            display: flex;
                                            flex-direction: column;
                                            flex: 1 1 50%;
                                            padding: 5rem 10rem 2rem 10rem;
                                            justify-content: center;
                                            align-items: flex-start;
                                        }
                                        
                                        #greenright h2,
                                        #blueleft h2 {
                                            font-weight: bold;
                                            font-size: 49px;
                                            text-align: left;
                                            color: #4b4747;
                                        }
                                        
                                        #greenright span,
                                        #blueleft span {
                                            color: white;
                                        }
                                        
                                        #greenright p,
                                        #blueleft p {
                                            font-weight: normal;
                                            font-size: 28px;
                                            text-align: left;
                                            color: #fff;
                                        }
                                        
                                        #greenright {
                                            background-color: #5BC8AF;
                                        }
                                        
                                        #blueleft {
                                            background-color: #1C498B;
                                        }
                                        
                                        #blueleft a {
                                            font-size: 3rem;
                                            font-weight: bold;
                                            margin-top: 2rem;
                                            align-self: flex-end;
                                            color: #FFB100;
                                        }
                                        
                                        #blueleft i {
                                            color: #FFB100;
                                            position: relative;
                                            bottom: 1rem;
                                            right: 2rem;
                                            font-size: 3rem;
                                        }
                                        /* CV PAGE--------------------------------------------------------- */
                                        
                                        #cvpage {
                                            display: flex;
                                            background-image: url('./img/Groupe\ de\ masques\ 3.png');
                                            background-repeat: no-repeat;
                                            background-position: bottom right;
                                            min-height: 100vh;
                                        }
                                        
                                        #cvpage div:nth-child(1) {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            flex: 1 1 50%;
                                        }
                                        
                                        #cvpage div:nth-child(2) {
                                            flex: 1 1 50%;
                                            padding-top: 7rem;
                                            text-align: center;
                                            justify-content: center;
                                        }
                                        
                                        h3 {
                                            font-weight: bold;
                                            font-size: 117px;
                                            text-align: center;
                                            color: #1c498b;
                                            margin-bottom: 10rem;
                                        }
                                        
                                        #textcv i {
                                            color: #FFB100;
                                            position: relative;
                                            top: 70rem;
                                            left: 36rem;
                                            font-size: 3rem;
                                        }
                                        /* Form------------------------------------------------------------ */
                                        
                                        #contactpage {
                                            display: flex;
                                            padding-top: 12rem;
                                            min-height: 100vh;
                                            justify-content: flex-start;
                                            background-image: url('./img/Groupe\ de\ masques\ 4.png');
                                            background-position: right;
                                            background-repeat: no-repeat;
                                        }
                                        
                                        .form {
                                            display: flex;
                                            flex-direction: column;
                                            margin-bottom: 5rem;
                                            position: relative;
                                        }
                                        
                                        label {
                                            font-family: sans-serif;
                                            font-size: 3rem;
                                            font-weight: bold;
                                            color: #ffb300a2;
                                            position: absolute;
                                            top: 0;
                                            transition: ease-in 0.3s;
                                        }
                                        
                                        input {
                                            border: none;
                                            font-size: 2rem;
                                            font-weight: bold;
                                            color: rgba(42, 37, 37, 0.623);
                                        }
                                        
                                        input:focus {
                                            outline: none;
                                        }
                                        
                                        input:focus+label {
                                            transform: scale(0.5) translateY(-200%);
                                        }
                                        
                                        .form span {
                                            display: block;
                                            width: 0;
                                            height: 0;
                                            background-color: #1c498b;
                                            transition: all ease-in-out 0.3s;
                                        }
                                        
                                        input:focus~span {
                                            width: 50%;
                                            height: 2px;
                                        }
                                        
                                        textarea {
                                            border: #1c498b solid 1px;
                                            color: #ffb300a2;
                                            width: 100%;
                                        }
                                        
                                        #leftcontact {
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: center;
                                        }
                                        
                                        #formulaire {
                                            display: flex;
                                            flex-direction: column;
                                            max-width: 50%;
                                            margin-left: 5rem;
                                        }
                                        
                                        button {
                                            width: 100%;
                                            height: 3rem;
                                            background-color: #ffb300;
                                            color: white;
                                            font-size: 2rem;
                                            font-weight: bold;
                                            border-radius: 3px;
                                            margin-top: 3rem;
                                        }
                                        
                                        .hautdepage {
                                            color: #FFB100;
                                            position: absolute;
                                            bottom: 12rem;
                                            left: 50%;
                                            font-size: 3rem;
                                            height: 3rem;
                                        }
                                        
                                        .hautdepage span {
                                            font-family: sans-serif;
                                            font-size: 2rem;
                                            color: #1c498b;
                                            font-weight: bold;
                                        }
                                        
                                        .prevbutton {
                                            color: #FFB100;
                                            position: absolute;
                                            top: 8rem;
                                            right: 5rem;
                                            font-size: 3rem;
                                            height: 3rem;
                                        }
                                        
                                        .downbutton {
                                            color: #FFB100;
                                            position: absolute;
                                            bottom: 8rem;
                                            right: 5rem;
                                            font-size: 3rem;
                                            height: 3rem;
                                        }
